<!DOCTYPE html>
<html>
  <head>
    <title>Quiz001</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header >
      <div >
        <h1> The headline for quiz #1</h1>
      </div>
    </header>
    <br class="clear" />
    <%= yield %>
  </body>
</html>
